---
import Layout from '@components/Layout.astro'
---

<Layout>
	<div class="prose mx-auto mt-8">
		<h1>Lift Off</h1>
		<p>Hello world from Astro! 🚀</p>

		<pre class="mockup-code">
# Astro Auth DB Starter

Time saving Astro Boilerplate with

- Astro 4.0
- HTMX and ```astro-htmx``` integration helper
- TailwindCSS and DaisyUI
- Astro Icons using ``astro-iconify```
- Astro:db
- Lucia Auth and adapter for Astro:db
- Aliases set up for ```@lib``` and ```@components``` folders
		</pre>
		
		<button class="btn btn-primary">🌼 I'm a Daisy button</button>
	</div>

</Layout>